---
import Card from "@components/atoms/Card.astro";
import { content } from "@components/pdf/content";

const colors = [
  "bg-[#facc15]",
  "bg-[#22d3ee]",
  "bg-[#a3e635]",
  "bg-[#fb923c]",
  "bg-[#e879f9]",
];
---

<div class="flex flex-col items-center">
  <h1 class="dm-serif case-capital m-2 text-3xl md:text-4xl lg:text-6xl">
    Professional Experience
  </h1>
  <div class="flex flex-col items-center gap-8">
    {
      content.professional.map(({ name, location, roles }, i) => (
        <div class="w-full">
          <Card class={colors.at(i)}>
            <div class="flex flex-col gap-6 p-4">
              <div class="flex flex-col flex-wrap items-start justify-start gap-x-6 text-2xl sm:flex-row sm:items-end md:text-3xl lg:text-4xl">
                <h1 class="inline-block text-start font-bold">{name}</h1>
                <h2 class="inline-block whitespace-nowrap text-end text-lg font-light italic md:text-xl lg:text-2xl">
                  {location}
                </h2>
              </div>
              <div class="flex flex-col gap-4">
                {roles.map(({ name, start, end, points }) => (
                  <div>
                    <div class="flex flex-col flex-wrap items-start justify-start gap-x-4 text-lg sm:flex-row sm:items-end md:text-2xl">
                      <h1 class="inline-block text-start uppercase">{name}</h1>
                      <h1 class="text-md inline-block text-end font-light italic md:text-xl">
                        <span class="whitespace-nowrap">{start} —</span>
                        <span class="whitespace-nowrap">
                          {end ?? "Present"}
                        </span>
                      </h1>
                    </div>
                    <ul class="poppins list-disc pl-8 text-sm md:text-lg">
                      {points.map((point) => (
                        <li>{point}</li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          </Card>
        </div>
      ))
    }
  </div>
</div>
