---
import Layout from "@layouts/Default.astro";

import ActualButton from "@components/atoms/ActualButton.astro";
import Button from "@components/atoms/Button.astro";
import Card from "@components/atoms/Card.astro";
import { content } from "@components/pdf/content";

const colors = ["#facc15", "#22d3ee", "#a3e635", "#fb923c", "#e879f9"];
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
  classList="flex flex-col min-h-screen"
>
  <main class="grow bg-[#818cf8]">
    <section id="about" class="flex flex-col items-center pt-4">
      <h1 class="dm-serif case-capital mt-8 text-3xl md:text-4xl lg:text-6xl">
        Professional Experience
      </h1>
      {
        content.professional.map(({ name, location, roles }, i) => (
          <div class="p-4 md:w-3/4">
            <Card class={`bg-[${colors.at(i)}]`}>
              <div class="flex flex-col gap-6 p-4">
                <div class="flex flex-row items-end justify-start gap-6 text-2xl md:text-3xl lg:text-4xl">
                  <h1 class="inline-block text-start font-bold">{name}</h1>
                  <h2 class="inline-block whitespace-nowrap text-end text-lg font-light italic md:text-xl lg:text-2xl">
                    {location}
                  </h2>
                </div>
                <div class="flex flex-col gap-4">
                  {roles.map(({ name, start, end, points }) => (
                    <div>
                      <div class="flex flex-row items-end justify-start gap-4 text-lg md:text-2xl">
                        <h1 class="inline-block text-start uppercase">
                          {name}
                        </h1>
                        <h1 class="text-md inline-block text-end font-light italic md:text-xl">
                          <span class="whitespace-nowrap">{start} —</span>
                          <span class="whitespace-nowrap">
                            {end ?? "Present"}
                          </span>
                        </h1>
                      </div>
                      <ul class="poppins list-disc pl-8 text-sm md:text-lg">
                        {points.map((point) => (
                          <li>{point}</li>
                        ))}
                      </ul>
                    </div>
                  ))}
                </div>
              </div>
            </Card>
          </div>
        ))
      }

      <h1 class="dm-serif case-capital mt-8 text-3xl md:text-4xl lg:text-6xl">
        Education
      </h1>
      {
        content.education.map(({ name, location, degrees }) => (
          <div class="p-4 md:w-3/4">
            <Card class="p-4" class="bg-[#c084fc]">
              <div class="p-4">
                <div class="flex flex-row items-end justify-start gap-4 text-2xl md:text-3xl lg:text-4xl">
                  <h1 class="inline-block text-start font-bold">{name}</h1>
                  <h2 class="inline-block whitespace-nowrap text-end text-lg font-light italic md:text-xl lg:text-2xl">
                    {location}
                  </h2>
                </div>
                <div class="flex flex-col">
                  {degrees.map(({ name, start, end }) => (
                    <div>
                      <div class="flex flex-row items-end justify-start gap-4 text-lg md:text-2xl">
                        <h1 class="inline-block text-start uppercase">
                          {name}
                        </h1>
                        <h1 class="text-md inline-block text-end font-light italic md:text-xl">
                          <span class="whitespace-nowrap">{start} —</span>
                          <span class="whitespace-nowrap">
                            {end ?? "Present"}
                          </span>
                        </h1>
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            </Card>
          </div>
        ))
      }

      <h1 class="dm-serif case-capital mt-8 text-3xl md:text-4xl lg:text-6xl">
        Expertise
      </h1>

      <div class="p-4">
        <Card class="bg-[#fb7185]">
          <div class="poppins flex flex-col gap-4 p-4">
            {
              Object.entries(content.expertise).map(([name, value]) => (
                <div>
                  <h1 class="text-2xl font-bold">{name}</h1> {value}
                </div>
              ))
            }
          </div>
        </Card>
      </div>

      <div class="sticky bottom-0">
        <Card class="m-4 bg-[#4ade80]">
          <div class="flex flex-row items-center justify-center gap-8 px-8">
            <script>
              function copyResume() {
                navigator.clipboard.writeText(
                  new URL("/v1/generate/resume.pdf", window.location.href).href,
                );
              }
              document
                .getElementById("copyResume")
                ?.addEventListener("click", copyResume);
            </script>
            <ActualButton id="copyResume">
              <div class="flex flex-row items-center">
                <div class="text-sm">Copy PDF Link</div>
                <div class="i-uil-link h-8 w-8"></div>
              </div>
            </ActualButton>

            <Button
              href="/v1/generate/resume.pdf"
              download="TristanSweeneyResume.pdf"
            >
              <div class="flex flex-row items-center">
                <div class="text-sm">Download PDF</div>
                <div class="i-uil-file-download h-8 w-8"></div>
              </div>
            </Button>
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
