---
import Layout from "@layouts/Default.astro";

import ActualButton from "@components/atoms/ActualButton.astro";
import Button from "@components/atoms/Button.astro";
import Card from "@components/atoms/Card.astro";
import { content } from "@components/pdf/content";

const colors = ["#facc15", "#60a5fa", "#a3e635", "#fb923c", "#e879f9"];
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
  classList="flex flex-col min-h-screen"
>
  <main class="bg-pink grow">
    <section id="about" class="pt-4 flex flex-col items-center">
      <h1 class="text-3xl md:text-4xl lg:text-6xl mt-8 dm-serif case-capital">
        Professional Experience
      </h1>
      {
        content.professional.map(({ name, location, roles }, i) => (
          <div class="md:w-3/4 p-4 ">
            <Card color={colors.at(i)}>
              <div class="text-2xl md:text-3xl lg:text-4xl flex flex-row justify-between">
                <h1 class="inline-block font-bold text-start">{name}</h1>
                <h2 class="inline-block italic font-light text-end">
                  {location}
                </h2>
              </div>
              <div class="flex flex-col gap-4">
                {roles.map(({ name, start, end, points }) => (
                  <div>
                    <div class="text-lg md:text-2xl flex flex-row justify-between">
                      <h1 class="inline-block uppercase text-start">{name}</h1>
                      <h1 class="inline-block italic font-light text-end">
                        {start} — {end ?? "Present"}
                      </h1>
                    </div>
                    <ul class="list-disc text-sm md:text-lg pl-8 poppins">
                      {points.map((point) => (
                        <li>{point}</li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </Card>
          </div>
        ))
      }

      <h1 class="text-3xl md:text-4xl lg:text-6xl mt-8 dm-serif case-capital">
        Education
      </h1>
      {
        content.education.map(({ name, location, degrees }) => (
          <div class="md:w-3/4 p-4 ">
            <Card class="p-4">
              <div class="text-2xl md:text-3xl lg:text-4xl flex flex-row justify-between">
                <h1 class="inline-block font-bold text-start">{name}</h1>
                <h2 class="inline-block italic font-light text-end">
                  {location}
                </h2>
              </div>
              <div class="flex flex-col">
                {degrees.map(({ name, start, end }) => (
                  <div>
                    <div class="text-lg md:text-2xl flex flex-row justify-between">
                      <h1 class="inline-block uppercase text-start">{name}</h1>
                      <h1 class="inline-block italic font-light text-end">
                        {start} — {end ?? "Present"}
                      </h1>
                    </div>
                  </div>
                ))}
              </div>
            </Card>
          </div>
        ))
      }

      <h1 class="text-3xl md:text-4xl lg:text-6xl mt-8 dm-serif case-capital">
        Expertise
      </h1>

      <div class="p-4">
        <Card class="flex flex-col gap-4 p-4">
          {
            Object.entries(content.expertise).map(([name, value]) => (
              <div>
                <h1 class="font-bold text-xl">{name}</h1> {value}
              </div>
            ))
          }
        </Card>
      </div>

      <div class="sticky bottom-0">
        <Card class="m-4" color="#4ade80">
          <div class="px-8 flex flex-row items-center justify-center gap-8">
            <script>
              function copyResume() {
                navigator.clipboard.writeText(
                  new URL("/v1/generate/resume.pdf", window.location.href).href
                );
              }
              document
                .getElementById("copyResume")
                ?.addEventListener("click", copyResume);
            </script>
            <ActualButton id="copyResume">
              <div class="flex flex-row items-center">
                <div class="text-sm">Copy PDF Link</div>
                <div class="i-uil-link w-8 h-8"></div>
              </div>
            </ActualButton>

            <Button
              href="/v1/generate/resume.pdf"
              download="TristanSweeneyResume.pdf"
            >
              <div class="flex flex-row items-center">
                <div class="text-sm">Download PDF</div>
                <div class="i-uil-file-download w-8 h-8"></div>
              </div>
            </Button>
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
