---
const data = [
  {
    category: "Accessibility",
    slug: "accessibility",
    links: [
      {
        href: "https://www.toptal.com/designers/colorfilter",
        text: "Colorblind Web Page Filter - By Toptal",
        summary:
          "Simulate colorblindness on web pages to improve accessibility.",
      },
    ],
  },
  {
    category: "Assets",
    slug: "assets",
    links: [
      {
        href: "https://www.toptal.com/designers/subtlepatterns/",
        text: "Subtle Patterns - By Toptal",
        summary:
          "A collection of free, high-quality subtle patterns for design.",
      },
      {
        href: "https://www.transparenttextures.com/",
        text: "Transparent (tileable) Textures",
        summary: "Free transparent textures that are tileable for web design.",
      },
      {
        href: "https://heropatterns.com/",
        text: "Hero Patterns",
        summary:
          "A collection of repeatable SVG background patterns for design.",
      },
      {
        href: "https://www.pexels.com/",
        text: "Pexels",
        summary: "Free stock photos and videos shared by talented creators.",
      },
      {
        href: "https://unsplash.com/",
        text: "Unsplash",
        summary:
          "Beautiful, free images and photos for personal and commercial use.",
      },
      {
        href: "https://www.freepik.com/",
        text: "Freepik",
        summary:
          "Free vectors, stock photos, and PSD files for creative projects.",
      },
      {
        href: "https://picsum.photos/",
        text: "Picsum Photos",
        summary:
          "Lorem Ipsum for photos: placeholder images for your projects.",
      },
      {
        href: "https://uiverse.io/",
        text: "UIverse",
        summary: "Free UI elements and animations for modern web design.",
      },
      {
        href: "https://www.vantajs.com",
        text: "Vanta.js",
        summary: "3D animated backgrounds for websites using JavaScript.",
      },
      {
        href: "https://kenney.nl",
        text: "Kenny.nl Assets",
        summary: "Free game assets for developers and designers.",
      },
      {
        href: "https://www.fffuel.co/",
        text: "FFFUEL - Free Assets",
        summary: "A collection of free design assets for creative projects.",
      },
      {
        href: "https://dribble.com/",
        text: "Dribbble",
        summary: "A platform to showcase and discover creative work.",
      },
      {
        href: "https://www.svgator.com/",
        text: "SVGator",
        summary: "Create and animate SVG files without coding.",
      },
    ],
  },
  {
    category: "FE blogs",
    slug: "fe-blogs",
    links: [
      { href: "https://codepen.io/spark", text: "CodePen Spark" },
      {
        href: "https://www.toptal.com/designers/blog",
        text: "Toptal Design Blog",
      },
    ],
  },
  {
    category: "Low Quality Image Placeholders",
    slug: "low-quality-image-placeholders",
    links: [
      { href: "https://plaiceholder.co/docs", text: "Plaiceholder" },
      { href: "https://evanw.github.io/thumbhash/", text: "ThumbHash" },
      { href: "https://github.com/woltapp/blurhash", text: "Blurhash" },
    ],
  },
  {
    category: "FE Utilities",
    slug: "fe-utilities",
    links: [
      { href: "https://github.com/lukeed/clsx", text: "clsx" },
      {
        href: "https://github.com/dcastil/tailwind-merge",
        text: "tailwind-merge",
      },
      {
        href: "https://github.com/joe-bell/cva",
        text: "CVA - Class Variance Authority",
      },
    ],
    note: "Note: I think the right move may be to make variants into data- tags and use selectors to target them...",
  },
  {
    category: "JS Utilities",
    slug: "js-utilities",
    links: [
      { href: "https://jwt.io/", text: "JWT.io" },
      { href: "https://jsonlint.com/", text: "JSON Lint" },
    ],
  },
  {
    category: "Dev Utilities",
    slug: "dev-utilities",
    links: [{ href: "https://regex101.com/", text: "Regex 101" }],
  },
  {
    category: "UX Blogs",
    slug: "ux-blogs",
    links: [
      {
        href: "https://www.nngroup.com/articles/definition-user-experience/",
        text: "Nielsen Norman Group - Definition of User Experience",
      },
      {
        href: "https://www.nngroup.com/courses/web-page-design/",
        text: "Nielsen Norman Group - Web Page Design",
      },
      { href: "https://web.dev/patterns", text: "Web.dev - Patterns" },
    ],
  },
  {
    category: "Favicons, PWA, Metadata",
    slug: "favicons-pwa-metadata",
    links: [
      {
        href: "https://vite-pwa-org.netlify.app/assets-generator/",
        text: "Vite PWA - Asset Generator",
      },
      {
        href: "https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7",
        text: "Favicon Nightmare 2023",
      },
      {
        href: "https://favicon.io/favicon-converter/",
        text: "Favicon Converter",
      },
      {
        href: "https://maskable.app/editor",
        text: "Maskable - Check PWA Maskable icons",
      },
    ],
  },
  {
    category: "CSS Gotchas",
    slug: "css-gotchas",
    links: [
      {
        href: "https://web.dev/blog/viewport-units",
        text: "Mobile screen heights",
      },
      {
        href: "https://www.w3schools.com/css/css_image_sprites.asp",
        text: "(oldschool) CSS image sprites",
      },
    ],
  },
  {
    category: "Software Engineering",
    slug: "software-engineering",
    links: [
      {
        href: "https://www.alex-greco.dev/blog/remix-feature-flags",
        text: "Feature flags in full stack apps",
      },
    ],
  },
  {
    category: "Dev Blogs",
    slug: "dev-blogs",
    links: [{ href: "https://syntax.fm/", text: "Syntax.fm" }],
  },
  {
    category: "Useful Libraries",
    slug: "useful-libraries",
    links: [
      { href: "https://immutable-js.com/", text: "Immutable.JS" },
      { href: "https://two.js.org/", text: "Two.JS" },
    ],
  },
  {
    category: "Platforms",
    slug: "platforms",
    links: [
      {
        href: "https://discord.com/developers/docs/activities/overview",
        text: "Discord Activities",
      },
    ],
  },
];
---

<div>
  <h2 class="sanchez text-4xl" id="dev-links">Developer Links</h2>
  <div class="flex flex-row flex-wrap gap-4">
    {
      data.map((section) => (
        <div class="max-w-sm">
          <h3 class="outfit text-2xl font-bold underline" id={section.slug}>
            {section.category}
          </h3>
          <ul class="flex flex-col gap-4">
            {section.links.map((link) => (
              <li class="rounded-lg border-2 bg-white p-4">
                <a
                  class="hover:text-green text-lg font-medium transition-all duration-150 ease-in-out hover:underline"
                  href={link.href}
                >
                  {link.text}
                </a>
                {link.summary && (
                  <p class="text-sm text-gray-600">{link.summary}</p>
                )}
              </li>
            ))}
          </ul>
          {section.note && <p>{section.note}</p>}
        </div>
      ))
    }
  </div>
</div>
