---
import { twMerge } from "tailwind-merge";
import RssIcon from "../atoms/icons/RssIcon.astro";
import LinkedInIcon from "../atoms/icons/LinkedInIcon.astro";
import GithubIcon from "../atoms/icons/GithubIcon.astro";

const navigationItems = [
  { name: "Home", url: "/", predicate: Astro.url.pathname === "/" },
  {
    name: "Resume",
    url: "/resume/",
    predicate: Astro.url.pathname.includes("/resume"),
  },
  {
    name: "Blog",
    url: "/blog/",
    predicate: Astro.url.pathname.includes("/blog"),
  },
  {
    name: "Projects",
    url: "/projects/",
    predicate: Astro.url.pathname.includes("/projects"),
  },
];

const socialIcons = [
  {
    name: "GitHub",
    url: "https://github.com/sweeneytr",
    Icon: GithubIcon,
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/tristansweeney",
    Icon: LinkedInIcon,
  },
  { name: "RSS", url: "/feed.xml", Icon: RssIcon },
];
const { class: className } = Astro.props;
---

<nav class={twMerge("hidden md:inline-block", className)}>
  <h2 class="hidden">Navigation</h2>
  <ul class="poppins flex gap-8">
    {
      navigationItems.map((item) => (
        <li>
          <a
            class:list={[
              "hover:text-green text-lg font-medium transition-all duration-150 ease-in-out hover:underline",
              {
                "text-green font-bold underline": item.predicate,
              },
            ]}
            href={item.url}
            title={`Go to ${item.name}`}
          >
            {item.name}
          </a>
        </li>
      ))
    }
    {
      socialIcons.map((item) => (
        <li>
          <a
            href={item.url}
            class="hover:text-green transition-all duration-150 ease-in-out hover:underline"
            target="_blank"
            title={`${item.name}`}
          >
            {<item.Icon class="h-6 w-6" />}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<nav class={twMerge("flex md:hidden", className)}>
  <h2 class="hidden">Mobile Navigation</h2>
  <ul>
    <li><a href="/blog/">Blog</a></li>
  </ul>
</nav>
