---
interface Props {
  content: {
    pubDate: string;
    author: string;
  };
  context: {
    collection: keyof ContentEntryMap;
    baseUrl: string;
  };
}

import type { ContentEntryMap } from "astro:content";
import "./content.css";
const {
  content,
  context: { collection, baseUrl },
} = Astro.props;
---

<article class="prose-slate w-sm md:w-prose md:prose poppins">
  <a href={baseUrl} title=`Back to ${collection}`>&larr; Back to {collection}</a
  >
  <p class="text-slate text-sm md:text-base">
    Published on {content.pubDate} by {content.author}
  </p>
  <div id="blog-content">
    <slot />
  </div>
  <p class="text-slate">Written by {content.author}</p>
  <a href={baseUrl} title=`Back to ${collection}`>&larr; Back to {collection}</a
  >
</article>
