---
import { Card } from "@eliancodes/brutal-ui";
import { Image } from "astro:assets";

interface Props {
  title: string;
  imgSrc: ImageMetadata;
  imgAlt: string;
  imgAuthor?: string;
  imgLink?: string;
  description: string;
}

const { title, imgAlt, imgSrc, description, imgAuthor, imgLink } = Astro.props;
---

<Card color="white">
  <h3 class="poppins text-lg md:text-xl">{title}</h3>
  <div class="my-4">
    <div class="rounded-lg border-3 border-black h-56">
      <Image
        src={imgSrc}
        alt={imgAlt}
        width={800}
        height={400}
        class="rounded h-full w-full object-cover"
      />
    </div>
    <div class="flex flex-justify-end">
      {
        imgAuthor && (
          <span class="hover:text-green hover:underline transition-all duration-150 ease-in-out">
            photo by <a href={imgLink}>{imgAuthor}</a>
          </span>
        )
      }
    </div>
  </div>

  <p class="poppins">{description}</p>
  <slot />
</Card>
