---
import { Image } from "astro:assets";
import ImageCredit from "./ImageCredit.astro";
import type { ComponentProps } from "astro/types";

import Card from "@components/atoms/Card.astro";

interface Props {
  title: string;
  imgAlt: string;
  description: string;
  date: Date;
  image?: {
    url: ImageMetadata;
    credit?: ComponentProps<typeof ImageCredit>;
    style?: ComponentProps<typeof Image>["style"];
  };
}

const {
  title,
  imgAlt,
  description,
  date,
  image: { url: imgSrc, credit, style } = {},
} = Astro.props;
---

<Card color="white" class="flex flex-col h-full">
  <h3 class="poppins text-lg md:text-xl">{title}</h3>
  <div class="flex flex-col mb-4 gap-1">
    <span class="text-gray-500">{date.toLocaleDateString()}</span>
    <div class="rounded-lg border-3 border-black h-56">
      {
        imgSrc && (
          <Image
            src={imgSrc}
            alt={imgAlt}
            width={800}
            height={400}
            class="rounded h-full w-full object-cover"
            style={style}
          />
        )
      }
    </div>

    <div class="flex flex-justify-end">
      {credit ? <ImageCredit {...credit} /> : <span>Unknown creator</span>}
    </div>
  </div>

  <p class="poppins flex-1">{description}</p>
  <slot />
</Card>
